body{
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
    min-height: 100%;
}
h1{font-size: 48px;}
h2{font-size: 40px;}
h3{font-size: 30px;}
h4{font-size: 18px;}
.wrapper{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.menu_list{
    display: flex;
}
.menu_list-item{
    padding: 0 15px;
}
.menu_list-item:last-child{
    padding: 0 0 0 15px;
}

.menu_list-item-link{
    font-weight: 600;
    position: relative;
    color: #555555;
    transition: all 0.3s;
}
.menu_list-item-link:before{
    content: "";
    transition: all 0.3s;
}
.menu_list-item-link:hover:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1.5px;
    left: calc(100% - 70%);
    bottom:-5px;
    background: #5363db;
}
.menu_list-item-list-link:last-child:hover:before{
    left: calc(100% - 45%);
}
.menu_list-item-link:hover{
    color: #5363db;
}
#menu_toggle {
    opacity: 0;
}
main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
#just{
    flex: 1 0 auto;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 101px 0 108px 0;
}
#just:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #5363db;
    opacity: 0.8;
}
.just_list{
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 -45px 0 -45px;
    z-index: 1;
}
.just_list-item{
    flex: 0 1 50%;;
    display: flex;
    padding: 0 45px;
}
.just_list-item-block-text{
    justify-content: flex-start;
}
.just_list-item-block-trial{
    justify-content:flex-end ;
}
.just_list-item-trial{
    width: 300px;
    background: white;
    border-radius: 20px;
    padding: 36px 29px 33px 29px;
}
.just_list-item-trial-title{
    font-weight: 600;
    margin: 0 0 30px 0;
    color: #5363db;
}
.just_list-item-trial-form{
    text-align: right;
}
.just_list-item-trial-form-name{
    display: block;
    width: 100%;
    padding: 17px 0 17px 20px;
    background: #f2f2f2;
    margin: 0 0 17px 0;
    border-radius: 10px;
}
.just_list-item-trial-form-phone{
    display: block;
    width: 100%;
    padding: 17px 0 17px 20px;
    background: #f2f2f2;
    margin: 0 0 17px 0;
    border-radius: 10px;
}
.just_list-item-trial-form-class{
    display: block;
    width: 100%;
    padding: 17px 0 17px 20px;
    background: #f2f2f2;
    margin: 0 0 30px 0;
    border-radius: 10px;
}
.just_list-item-trial-form-btn{
    font-weight: bold;
    padding: 16px 66px;
    border-radius: 8px;
    background:#5363db ;
    font-size: 16px;
    color: white;
    transition: all 0.2s;
}
.just_list-item-trial-form-btn:hover{
    background: #3939db;
}
.just_list-item-text-title{
    font-weight: bold;
    color: white;
    margin: 0 0 40px 0;
    text-transform: uppercase;
    line-height: 72px;
}
.just_list-item-text-subtitle{
    font-family: 'FREESCPT', serif;
    color: white;
}
#yoga{
    padding: 117px 0 87px 0;
}
.yoga_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yoga_inner-title{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #5363db;
    margin: 0 0 15px 0;
    text-align: center;
    line-height: 35px;
}
.yoga_inner-subtitle{
    font-family: 'FREESCPT',serif;
    color: #9b9b9b;
    margin: 0 0 75px 0;
    text-align: center;
}
.yoga_inner-body-list{
    display: flex;
    flex-wrap: wrap;
    margin: -13px -15px;
}
.yoga_inner-body-list-item{
    display: flex;
    padding: 13px 15px;
    flex: 1 1 50%;
}
.yoga_inner-body-list-item-column{
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 #707580;
}
.yoga_inner-body-list-item-column-img{
    flex: 1 1 50%;
    background: no-repeat;
    background-size: cover;
    border-radius: 10px;
    min-width: 48%;
    padding-top:50%;
}
.yoga_inner-body-list-item-column-text{
    flex:0 1 50%;
    padding: 50px 10px 50px 30px;
}
.yoga_inner-body-list-item-column-text-title{
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 20px;
    margin: 0 0 36px 0;
    text-transform: uppercase;
}
.yoga_inner-body-list-item-column-text-title a{
    color: #8d8d8d;
    position: relative;
}
.yoga_inner-body-list-item-column-text-title a:hover:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #8d8d8d;
    bottom: -5px;
}
.yoga_inner-body-list-item-column-text-description{
    color: #555555;
    line-height: 22px;
    margin: 0 0 20px 0;
}
.yoga_inner-body-list-item-column-text-excerpt{
    display: block;
    text-align: left;
}
.yoga_inner-body-list-item-column-text-excerpt-link{
    color: #999999;
}
.yoga_inner-body-list-item-column-text-excerpt-link:hover{
    color: #5363db;
}
#photo{
    padding: 120px 0 85px 0;
}
.photo_row{
    display: flex;
    flex-wrap: wrap;
}
.photo_row-item{
    flex-basis: 25%;
}
.photo_row-item-link{
    display: block;
    position: relative;
    padding-top: 73%;
    background-size: cover;
    background-position: center;
}
.photo_row-item-link:before{
    content: "";
    position: absolute;
    transition: all 0.3s;
}
.photo_row-item-link:hover:before{
    content: "";
    position: absolute;
    background: #5363db;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}
.photo_row-item-link:after{
    content: "";
    position: absolute;
    transition: all 0.3s;
}
.photo_row-item-link:hover:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:url("../img/glyphicons-28-search.png") center no-repeat white;
    right: calc(50% - 25px);
    top: calc(50% - 25px);
}
#about{
    padding: 85px 0 170px 0;
}
.about_list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px;
}
.about_list-item{
    display: flex;
    width: 50%;
    padding: 20px;
    justify-content: center;
}
.about_list-item-text-title{
    color: #5363db;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}
.about_list-item-text-desc{
    color: #555555;
    line-height: 22px;
}
.about_list-item-slider{
    width: 100%;
}
.slide img{
    width: 100%;
}
.button.slick-prev.slick-arrow{
    background: white;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #5b6ceb;
    outline: none;
    background: white;
}
.slick-arrow{
    position:absolute;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    margin: 0;
    background: white;
    font-size: 0;
    line-height: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.slick-arrow:after{
    position: absolute;
    content: "";
    left: 50%;
    top:50%;
    width: 15px;
    height: 15px;
    border-top:3px solid #5b6ceb ;
    border-right: 3px solid #5b6ceb ;
}
.slick-prev{
    left:-25px;
}
.slick-next{
    right: -25px;
}
.slick-prev:after{
    transform: translate(-50%,-50%) rotate(-135deg);
}
.slick-next:after{
    transform: translate(-50%,-50%) rotate(50deg);
}
#info{
    padding: 120px 0 130px 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#info:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #5363db;
    opacity: 0.8;
}
.info_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: -30px -22px;
}
.info_list-item{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    padding: 30px 22px;
}
.info_list-item-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info_list-item-inner-img{
    width: 70px;
    height: 70px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    margin: 0 0 27px 0;
}
.info_list-item-inner-img:before{
    content: "";
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 22px);
    width: 44px;
    height: 44px;
}
.info_list-item-inner-img__01:before{
    background: url(../img/ico-01.png)center no-repeat;
}
.info_list-item-inner-img__02:before{
    background: url(../img/ico-02.png)center no-repeat;
}
.info_list-item-inner-img__03:before{
    background: url(../img/ico-03.png)center no-repeat;
}
.info_list-item-inner-img__04:before{
    background: url(../img/ico-04.png)center no-repeat;
}
.info_list-item-inner-img__05:before{
    background: url(../img/ico-05.png)center no-repeat;
}
.info_list-item-inner-img__06:before{
    background: url(../img/ico-06.png)center no-repeat;
}
.info_list-item-inner-img__07:before{
    background: url(../img/ico-07.png)center no-repeat;
}
.info_list-item-inner-img__08:before{
    background: url(../img/ico-01.png)center no-repeat;
}
.info_list-item-inner-title{
    color: white;
    margin: 0 0 13px 0;
    line-height: 27px;
    flex: 1 0 auto;
}
.info_list-item-inner-desc{
    font-size: 16px;
    line-height: 27px;
    color: white;
    letter-spacing: -1px;
}
#price{
    background-color: #ffffff;
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    padding: 101px 0;
}
.price_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -18px -18px;
}
.price_list-item{
    flex:0 1 33.33333%;
    padding: 18px 18px;
}
.price_list-item-inner{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 10px 0 #707580;
    border-radius: 15px;
    padding: 0 0 60px 0;
    background-color: white;
}
.price_list-item-inner-title{
    display: flex;
    justify-content: center;
    background: #5363db;
    margin-bottom: 50px;
    border-radius: 15px 15px 0 0;
    padding: 40px 0;
}
.price_list-item-inner-title-text{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
}
.price_list-item-inner-title-text-dollar{
    font-size: 32px;
    margin: 0 15px 0 0;
}
.price_list-item-inner-title-text-number{
    font-size: 67px;
}
.price_list-item-inner-title-text-month{
    font-size: 18px;
    text-transform: uppercase;
}
.price_list-item-inner-desc{
    color: #555555;
    font-size: 18px;
    flex: 1 0 auto;
}
.price_list-item-inner-desc-text{
    margin-bottom: 55px;
    position: relative;
}
.price_list-item-inner-desc-text:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: #8d8d8d;
    bottom: -30px;
    left: calc(50% - 50px);
}
.price_list-item-inner-desc-text:last-child:before{
    display: none;
}
.price_list-item-inner-btn-link{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: #5363db;
    padding: 13px 48px;
    border-radius: 20px;
    transition: all 0.2s;
}
.price_list-item-inner-btn-link:hover{
    background-color: #3939db;
}
#contacts{
    background: #5b6ceb;
    padding: 100px 0 100px 0;
}
.contacts_list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.contacts_list-item{
    flex:1 1 50%;
    display: flex;
    padding: 0 10px;
    justify-content: center;
}
.contacts_list-item-about{
    flex: 0 1 100%;
}
.contacts_list-item-about-title,
.contacts_list-item-contact-title{
    font-weight: bold;
    color: white;
    margin: 0 0 60px;
}
.contacts_list-item-about-text{
    color: white;
    margin: 0 0 73px 0;
    line-height: 22px;
}
.contacts_list-item-about-social{
    font-size: 20px;
}
.contacts_list-item-about-social-link{
    color: white;
    padding: 0 5px;
    transition: all 0.3s;
}
.contacts_list-item-about-social-link:hover{
    color: #0e13db;
}
.contacts_list-item-contact{
    display: flex;
    flex-direction: column;
}
.contacts-list-item-contact-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
}
.contacts-list-item-contact-box-element{
    flex: 0 1 50%;
    padding: 15px;
}
.contacts-list-item-contact-box-element-inner{
    display: flex;
    align-items: center;
}
.icon-location2,.icon-envelop,.icon-phone,.icon-earth{
    display: block;
    font-size: 25px;
    color: white;
}
.contacts-list-item-contact-box-element-inner-text{
    display: block;
    padding: 0 0 0 15px;
    line-height: 22px;
    color: white;
    transition: all 0.3s;
}
.contacts-list-item-contact-box-element-inner-text:hover{
    color: #0e13db;
}
.contacts-list-item-contact-box-element-inner-text_address{
    display: block;
    padding: 0 0 0 15px;
    line-height: 22px;
    color: white;
}
footer{
    background: #5363db;
}
#footer{
    display: flex;
    justify-content: center;
    padding: 42.5px 0;
}
#footer p{
    color: #b7bffc;
    font-size: 16px;
}
@media (max-width:1199px) {
    h1{font-size: 43px;}
    h2{font-size: 37px;}
    h3{font-size: 23px;}
    h4{font-size: 17px;}
    .about_list-item-slider{
        width: 90%;
    }
}
@media (max-width:991px){
    h1{font-size: 37px;}
    h2{font-size: 30px;}
    h3{font-size: 23px;}
    h4{font-size: 16px;}
    .contacts-list-item-contact-box{
        flex-direction: column;
        align-items: flex-start;
    }
    .price_list-item{
        flex:0 0 50%;
    }
}
@media (max-width:767px) {
    h1{font-size: 30px;}
    h2{font-size: 40px;}
    h3{font-size: 25px;}
    h4{font-size: 16px;}
    #header{
        padding: 16px 0;
    }
    .menu_btn{
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 50px ;
        right: 20px;
        cursor: pointer;
        z-index: 50;
    }
    .menu_btn > span,
    .menu_btn > span:before,
    .menu_btn > span:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background: #5363db;
    }
    .menu_btn > span:before{
        content: "";
        top: -10px
    }
    .menu_btn > span:after{
        content: "";
        top: 10px;
    }
    .menu_list{
       display: block;
        position: absolute;
        visibility: hidden;
        top: -2300px;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        list-style: none;
        background-color: #ffffff;
    }
    .menu_list-item{
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }
    .menu_list-item:last-child{
        padding: 20px 0;
    }
    .menu_list-item-link{
        color: #555555;
        font-weight: 600;
    }
    .menu_list-item-link:hover{
        color: #5363db;
    }
    .menu_list-item-link:hover:before{
        bottom: -10px;
    }
    #menu_toggle:checked ~ .menu_btn > span {
        transform: rotate(45deg);
    }
    #menu_toggle:checked ~ .menu_btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu_toggle:checked ~ .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu_toggle:checked ~ .menu_list {
        visibility: visible;
        top: 98px;
    }
    #just{
        padding: 65px 0 75px 0;
    }
    .just_list{
        flex-wrap: wrap;
        align-items: center;
        margin: -20px 0 -20px 0;
        justify-content: center;
    }
    .just_list-item{
        flex: 1 0 100%;
        justify-content: center;
    }
    .just_list-item-trial-title{
        text-transform: uppercase;
    }
    .just_list-item-trial-form-btn{
        text-transform: uppercase;
    }
    .just_list-item-block-trial{
        padding: 0 0 20px 0;
    }
    .just_list-item-block-text{
        padding: 20px 0 0 0;
        text-align: center;
    }
    .just_list-item-text-title{
        line-height: 37px;
        margin: 0 0 30px 0;
    }
    #yoga{
        padding: 30px 0 50px 0;
    }
    .yoga_inner-body-list-item{
        flex: 1 1 100%;
    }
    .yoga_inner-subtitle{
        margin: 0 0 23px 0;
    }
    .yoga_inner-body-list-item-column{
        flex-direction: column;
    }
    .yoga_inner-body-list-item-column-img{
        padding-top:100%;
        width: 100%;
        flex: 1 0 65%;
        border-radius: 10px 10px 0 0;
        background-position: center;
    }
    .yoga_inner-body-list-item-column-text{
        padding: 25px 10px 30px 30px;
        flex: 0 1 35%;
    }
    #photo{
        padding: 0 0 25px 0;
    }
    .photo_row{
        flex-wrap: wrap;
    }
    .photo_row-item{
        flex: 1 1 50%;
    }
    .info_list{
        margin: -15px -22px;
    }
    .info_list-item{
        flex: 1 1 50%;
        padding: 15px 22px;
    }
    .price_list-item{
        flex: 1 1 100%;
    }
    #about{
        padding: 10px 0 40px;
    }
    .about_list{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: -10px;
    }
    .about_list-item{
        width: 100%;
        padding: 10px;
    }
    .about_list-item-text-title{
        margin: 0 0 10px 0;
    }
    .about_list-item-slide{
        display: flex;
        justify-content: center;
    }
    #info{
        padding: 30px 0 30px 0;
    }
    #price{
        padding: 40px 0 ;
    }
    .price_list-item-inner-title{
        padding: 15px 0;
    }
    #contacts{
        padding: 20px 0;
    }
    .contacts_list-item{
        flex: 1 0 100%;
    }
    .contacts_list-item:first-child{
        margin-bottom: 30px;
    }
    .contacts_list-item-about-title,
    .contacts_list-item-contact-title{
        margin: 0 0 30px 0;
    }
    .contacts_list-item-about-text {
        color: white;
        margin: 0 0 30px 0;
    }
    .contacts-list-item-contact-box{
        flex-direction: row;
        align-items: center;
    }
    .contacts-list-item-contact-box-element{
        flex:0 1 50%;
    }
}
@media (max-width:570px) {
    .info_list-item{
        flex-basis: 100%;
    }
    .contacts-list-item-contact-box-element{
        flex: 0 1 100%;
    }
}

